{% extends 'layout.html.twig' %}

{% block body_id 'blog' %}
{% block title %}Blog{% endblock %}

{% block contents %}
<div class="span9">
{% for post in posts %}
    <div class="post">
        <h2><a href="{{ path('blog_show', { 'slug': post.slug }) }}">{{ post.title }}</a></h2>
        {% if post.content|length > 4 * 1024 %}
            <p>{{ post.content|striptags[:512]|raw }} [...]</p>
            <a href="{{ path('blog_show', { 'slug': post.slug }) }}">Continue reading</a>
        {% else %}
            {{ post.content|raw }}
        {% endif %}
    </div>
{% endfor %}
</div>

<div class="span3">
    {{ include('_sidebar_promo.html.twig') }}
</div>
{% endblock %}